@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --bg-color: hsl(230, 17%, 14%);
  --top-bg-color: hsl(232, 19%, 15%);
  --card-bg-color:    hsl(228, 28%, 20%);
  --text-color-accent:   hsl(228, 34%, 66%);
  --text-color-main: hsl(0, 0%, 100%);
  --overview-text-color: hsl(0, 0%, 100%);
  --card-hover-bg-color:   hsl(228, 26%, 27%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook-color: hsl(208, 92%, 53%);
  --twitter-color: hsl(203, 89%, 53%);
  --instagram-color: linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube-color: hsl(348, 97%, 39%);
  --toggle-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)); }

[data-theme="light"] {
  --bg-color: hsl(0, 0%, 100%);
  --top-bg-color: hsl(225, 100%, 98%);
  --card-bg-color:  hsl(227, 47%, 96%);
  --text-color-accent:   hsl(228, 12%, 44%);
  --text-color-main: hsl(230, 17%, 14%);
  --card-hover-bg-color:   hsl(236, 35%, 92%);
  --overview-text-color:   hsl(228, 12%, 44%);
  --toggle-color: hsl(230, 22%, 74%); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 375px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--bg-color);
  color: var(--text-color-main); }

.heading-primary {
  font-size: 2.2rem; }

.heading-sub {
  color: var(--text-color-accent);
  font-size: 1.2rem; }

.theme-switch {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .theme-switch {
      justify-content: space-between;
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px var(--text-color-accent) solid; } }
  .theme-switch__mode {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1rem;
    color: var(--text-color-accent); }
  .theme-switch__checkbox {
    display: none; }
  .theme-switch__toggle {
    height: 2rem;
    width: 4rem;
    border-radius: 10rem;
    background: var(--toggle-color);
    cursor: pointer;
    position: relative; }
  .theme-switch__toggle-slider {
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--top-bg-color);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    transition: all 0.2s; }
  .theme-switch__checkbox:checked + .theme-switch__toggle .theme-switch__toggle-slider {
    transform: translateX(2rem); }

.followers__count {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--text-color-primary);
  margin-bottom: 1.5rem; }
  .followers__count span {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color-accent);
    letter-spacing: 5px;
    display: block; }

.card {
  background-color: var(--card-bg-color);
  padding: 2rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column; }
  .card__followers {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative; }
    .card__followers::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: -3px;
      left: 0;
      border-radius: 0.5rem;
      z-index: -10; }
    .card__followers--facebook::before {
      background: var(--facebook-color); }
    .card__followers--twitter::before {
      background: var(--twitter-color); }
    .card__followers--instagram::before {
      background: var(--instagram-color); }
    .card__followers--youtube::before {
      background: var(--youtube-color); }
  .card__interactions {
    padding: 1.5rem 2rem; }
  .card:hover {
    background-color: var(--card-hover-bg-color); }

.social {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .social__icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.6rem;
    background-size: cover;
    background-position: center; }
    .social__icon--facebook {
      background-image: url("../imgs/icon-facebook.svg"); }
    .social__icon--twitter {
      background-image: url("../imgs/icon-twitter.svg"); }
    .social__icon--instagram {
      background-image: url("../imgs/icon-instagram.svg"); }
    .social__icon--youtube {
      background-image: url("../imgs/icon-youtube.svg"); }
  .social__username {
    font-size: 1.2rem;
    color: var(--text-color-accent); }

.daily-change {
  display: flex;
  align-items: center; }
  .daily-change__count {
    font-size: 1rem;
    font-weight: 700; }
    .daily-change__count--up {
      color: var(--lime-green); }
    .daily-change__count--down {
      color: var(--bright-red); }

.icon-up, .icon-down {
  width: 0.7rem;
  height: 3px;
  margin-right: 0.5rem;
  background-size: cover;
  background-position: center; }

.icon-up {
  background-image: url("../imgs/icon-up.svg"); }

.icon-down {
  background-image: url("../imgs/icon-down.svg"); }

.interactions {
  margin-top: 4rem; }
  .interactions__social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem; }
  .interactions__type {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color-accent); }
  .interactions__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .interactions__count {
    font-size: 2.5rem;
    font-weight: 700; }

.heading-secondary {
  font-size: 2rem;
  color: var(--overview-text-color);
  grid-column: 1 / -1; }

.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 30vh;
  width: 100%;
  background-color: var(--top-bg-color);
  border-radius: 3rem;
  z-index: -100; }

.container {
  max-width: 90rem;
  margin: 3rem auto;
  padding: 0 2rem 4rem 2rem; }

.header {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 600px) {
    .header {
      flex-direction: column; } }

.followers, .interactions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 800px) {
    .followers, .interactions {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 600px) {
    .followers, .interactions {
      grid-template-columns: 1fr; } }
